@import "https://fonts.googleapis.com/css?family=Alfa+Slab+One";

.FourOhFour {
  position: absolute;
  top: 10;
  left: 0;
  width: 100vw;
  height: 90vh;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FourOhFour .bg {
  position: absolute;
  top: 10;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-size: 50vw 90vh;
  mix-blend-mode: overlay;
}

.FourOhFour .code {
  font-family: "Alfa Slab One", cursive;
  font-size: 144px;
  height: 90vh;
  color: white;
  width: 100%;
  display: flex;
  backgorund-position: center;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
